form{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.btn{
    background-color: skyblue;
    width:700px;
}
input, textarea{
    width: 700px;
}
textarea{
    height: 200px;
}
.btn2{
    background-color:#eee;
}